<h4>My Account Menu</h4>
<ul class="nav nav-pills nav-stacked">
    <li {% if app.request.attributes.get( '_route' ) == 'personalAccountSummary' %} class="active"{% endif %}><a title="My Account" href="{{path('personalAccountSummary')}}">My Account</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'personalAccountShow' %} class="active"{% endif %} ><a title="Profile" href="{{path('personalAccountShow', {'id' : app.user.id })}}">Profile</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'legalOriginalCCRs' %} class="active"{% endif %} ><a title="Statements" href="#">Statements</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'legalFirstAmendment' %} class="active"{% endif %} ><a title="Notices" href="#">Notices</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'legalFirstAmendment' %} class="active"{% endif %} ><a title="Add Property Photo" href="#">Add Property Photo</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'personalAccountDependentAdd' %} class="active"{% endif %} ><a title="Add Dependent" href="{{path('personalAccountDependentAdd')}}">Add Dependent</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'legalFourthAmendment' %} class="active"{% endif %} ><a title="Add Vehicle" href="#">Add Vehicle</a></li>
    <li {% if app.request.attributes.get( '_route' ) == 'legalFourthAmendment' %} class="active"{% endif %} ><a title="Add Pet" href="#">Add Pet</a></li>
</ul><br>
{% if app.user.isTrustee == true %}
    <h5>Trustee Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.attributes.get( '_route' ) starts with 'trusteeTermShow' %} class="active"{% endif %} ><a title="Public Trustee Profile" href="{{path('trusteeTermShow', {'id' : app.user.id })}}">Public Trustee Profile</a></li>
    </ul><br>
{% endif %}
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search My Account...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>