{% block body %}
    <div class='sidebarmenu'>
        <ul>
            <li>Account Menu</li>
            <ul>
                <li><a title="Account Home Page" href="{{ path('personalAccountSummary') }}">Summary</a></li>
                <li><a title="Profile" href="{{ path('personalAccountShow', {'id' : app.user.id } ) }}">Profile</a></li>
                <li><a title="Account Statements" href="{# path('MainBundle_LegalFirstAmendment') #}">Statements</a></li>
                <li><a title="Official Notices & Communications" href="{# path('MainBundle_Account_Show') #}">Official Notices</a></li>
                <li><a title="Add Property Photo" href="{# path('MainBundle_Account_AddPet') #}">Add Property Photo</a></li>
                <li><a title="Add Dependent" href="{# path('MainBundle_Account_AddDependent') #}">Add Dependent</a></li>
                <li><a title="Add Vehicle" href="{# path('MainBundle_Account_AddVehicle') #}">Add Vehicle</a></li>
                <li><a title="Add Pet" href="{# path('MainBundle_Account_AddPet') #}">Add Pet</a></li>
            </ul>
        </ul>
        {% if app.user.isTrustee == true %}
            <ul>
            <li>Trustee Menu</li>
            <ul>
                <li><a title="Public Trustee Profile" href="{{ path('trusteeTermShow', {'id' : app.user.id }) }}">Public Trustee Profile</a></li>
            </ul>
        </ul>
        {% endif %}
    </div>
{% endblock %}