{% block body %}
    <div class='sidebarmenu'>
        <ul>
            <li>Administrative Menu</li>
            <ul>
                <li><a title="" href="{{ path('admin') }}">Manage Properties</a></li>
                <li><a title="" href="{{ path('adminUserIndex') }}">Manage Users</a></li>
                <li><a title="" href="{# path('') #}">Issue Notice</a></li>
                <li><a title="" href="{# path('') #}">Issue Statement</a></li>
                <li><a title="" href="{# path('') #}">Upload Document</a></li>
            </ul>
            <li>Accounting Menu</li>
            <ul>
                <li><a title="" href="{{ path('adminAccountingIndex') }}">Account Index</a></li>
                <li><a title="" href="{{ path('adminTransactionsIndex') }}">Transactions Index</a></li>
            </ul>
        </ul>
        
    </div>
{% endblock %}