{# src/MainBundle/Resources/views/Sidebars/index.html.twig #} 

{% block body %}
    <style>
        .sidebar p{
            padding: 15px 0px;
            color: #F48A00;
        }
        .sidebar li{
            padding-left: 10px;
        }
    </style>
    <div class='sidebarmenu'>
        <p>Links</p>
        <ul>
            <li>Garden & Landscaping Contest</li>
            <li>Block Party<li>
            <li>Utility Providers</li>
            <li>Contact Us</li>
        </ul>
        <p>To Do</p>
        <ul>
            <li>Collect & org all homeowner data</li>
            <li>Opt-in to receive announcements</li>
            <li>Permit homeowners to contact you</li>
            <li>Opt-in to receive complaint notices</li>
            <li>Community Forum</li>
            <li style='text-decoration: line-through'>Homepage jquery photo-roll</li>
            <li>Blog (Announcements)</li>
            <li>Administrative Control Panel</li>
            <li>Restrict registration to homeowners</li>
            <li>Homowerns Public/Private/Logged-in</li>
            <li>Lockdown Financial to loggedin</li>
            <li>Lockdown Board Actions to loggedin</li>
        </ul>
        <p>Roles</p>
        <ul>
            <li>Superadmin - webmaster</li>
            <li>Admin - SBS Manager<li>
            <li>Homeowner</li>
            <li>Trustee</li>
            <li>President</li>
            <li>Secretary</li>
            <li>Treasurer</li>
            <li>Forum Moderator</li>
            <li>Accountant - SBS Accountant</li>
        </ul>
    </div>
{% endblock %}

