{% extends 'alt-layout.html.twig' %}
{% block title %}Financial Page{% endblock %}
{% block pageheader %}<h1>Official Business</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block sidenav %} {{ include('sidebars/financial.html.twig') }}  {% endblock %}
{% block content %}
 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Official Business</a></li>
        <li class="breadcrumb-item active">Financial</li>
    </ol>
    <hr>
    <h2>Financial Home</h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
    <p>Brandy Mill Homeowners Association's financial affairs are currently represented by:</p>
    <BLOCKQUOTE><strong>Wilson, Shannon & Snow, INC</strong>
        </br>10 West Locust Street
        </br>Newark, OH 43055
        </br>Phone: (740) 345-6611
        </br><a href='http://www.wssinc.net/' target='blank'>www.wssinc.net</a>
    </BLOCKQUOTE>
    
    <p>Financial Investment Brokerage Firm:</p>
    <BLOCKQUOTE><strong>JP Morgan Chase and Co.</strong>
        </br>4 W Broad St
        </br>Pataskala, OH 43062
        </br>Phone: 740-927-5051
        </br><a href='https://www.chase.com/' target='blank'>www.chase.com</a>
    </BLOCKQUOTE>    
    
    <p style='padding-left: 10px;'>The menu to the left has links to all the Association's financial documents.  We outsource the following functions to the firms listed above:</p>
        
    <ul style='padding-left: 50px;'>
        <li>Day-to-day Accounting & Journal Entries</li>
        <li>Accounts Payable</li>
        <li>Accounts Receivable</li>
        <li>Monthly Statements</li>
        <li>Year End Taxes & Statements</li>
        <li>Investments</li>
    </ul>
    
{% endblock %}