{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jgallery.min.js?v=1.5.5') }}"></script>
{% endblock %}
{% block title %}Official Business{% endblock %}
{% block sidebar %}
    <ul>
        <li>Helpful links</li>
        <li>Utilitiy Providers & Options</li>
    </ul>
{% endblock %}

{% block body %} 
    <div class="content">
    <div class="section-header"><h1>Official Business</h1></div>
    <div class="section-header"><h6>Overview</h6></div>
    <p style='padding-left: 10px;'>Brandy Mill Homeowners Association's official business is recorded here.  Item covered include:</p>
    
    <ul style='margin-left: 50px;'>
        <li>Meeting Minutes</li>
        <li>History</li>
        <li>Topics for next Board Meeting - closed to Homeowners</li>
        <li>Topics for next Annual Meeting - open to Homeowners</li>
        <li>General Topics to Consider</li>
        <li>Complaint - history</li>
        <li>Complaints - pending</li>
        <li>Permit - history</li>
        <li>Permits - pending</li>
    </ul>
    
    <hr style='margin: 50px 8px; '></hr>

    <div class="section-header"><h2>Agenda Items</h2></div>
    <iframe 
        width="708"
        height="450"
        frameborder="0" style="border:0; margin-bottom: 50px;"
        src="https://docs.google.com/document/d/1_ktDulDrqZUoOgYutNWkSCNpwZKCF0t0gkbe75t_WQ8/edit?usp=sharing"
        allowfullscreen
    >
    </iframe>
    
    <div class="section-header"><h2>Board Meeting Minutes - Most Current</h2></div>
    <iframe 
        width="708"
        height="450"
        frameborder="0" style="border:0; margin-bottom: 50px"
        src="https://docs.google.com/document/d/1N8tuEfC6C604F95hiuuSQe_RY8a3AcG1Jk8CdtNoM68/edit?usp=sharing"
        allowfullscreen
    >
    </iframe>
    
{% endblock %}