{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Board Meeting Minutes{% endblock %}
{% block pageheader %}<h1>Board Meeting Minutes</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}

    <iframe 
        width="100%"
        height="1000"
        frameborder="0" style="border:0; margin-bottom: 50px;"
        src="https://docs.google.com/document/d/1N8tuEfC6C604F95hiuuSQe_RY8a3AcG1Jk8CdtNoM68/edit?usp=sharing"
        allowfullscreen
    >
    </iframe>
    
{% endblock %}