{% extends 'alt-layout.html.twig' %}
{% block title %}Current CCRs{% endblock %}
{% block pageheader %}<h1>Legal</small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block sidenav %} {{ include('sidebars/alt-legal.html.twig') }}  {% endblock %}
{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('legalHome') }}">Legal</a></li>
        <li class="breadcrumb-item active">2nd Amendment</li>
        <span class="label label-success"><a href="{{ path('secondAmendmentPDF') }}" target="_blank" title="2nd Amendment PDF">PDF</a></span>
    </ol>
    <hr>
    <h2>2nd Amendment</h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
        
<html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by LibreOffice - see http://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.--><head profile="http://dublincore.org/documents/dcmi-terms/"><meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/><title xml:lang="en-US">- no title specified</title><meta name="DCTERMS.title" content="" xml:lang="en-US"/><meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/><meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/><meta name="DCTERMS.issued" content="2016-05-23T14:25:48.500000000" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.modified" content="2016-05-23T14:51:28.435000000" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.provenance" content="" xml:lang="en-US"/><meta name="DCTERMS.subject" content="," xml:lang="en-US"/><link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/><link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/><link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/><link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/><style type="text/css">
	@page {  }
	table { border-collapse:collapse; border-spacing:0; empty-cells:show }
	td, th { vertical-align:top; font-size:12pt;}
	h1, h2, h3, h4, h5, h6 { clear:both }
	ol, ul { margin:0; padding:0;}
	li { list-style: none; margin:0; padding:0;}
	<!-- "li span.odfLiEnd" - IE 7 issue-->
	li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	span.footnodeNumber { padding-right:1em; }
	span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	* { margin:0;}
	.P1 { font-size:10.5pt; font-family:Arial; writing-mode:page; }
	.P10 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0.9984in; margin-right:0in; text-indent:0in; }
	.P11 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0.8425in; margin-right:0in; text-indent:0in; }
	.P13 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0.8161in; margin-right:0in; text-indent:0in; }
	.P14 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.9673in; margin-right:0in; text-indent:0in; }
	.P15 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.9673in; margin-right:0in; text-indent:0in; }
	.P16 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.5161in; margin-right:0in; text-indent:0in; }
	.P17 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.5161in; margin-right:0in; text-indent:0in; }
	.P18 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.5161in; margin-right:0in; text-indent:0.0091in; }
	.P19 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:3.5161in; margin-right:0in; text-indent:0.0091in; }
	.P2 { font-size:10.5pt; font-family:Arial; writing-mode:page; text-align:center ! important; font-style:normal; font-weight:bold; }
	.P3 { font-size:10.5pt; font-family:Arial; writing-mode:page; text-align:center ! important; font-weight:bold; }
	.P4 { font-size:10.5pt; font-family:Arial; writing-mode:page; }
	.P5 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0in; margin-right:0in; text-indent:0.4953in; }
	.P6 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0in; margin-right:0in; text-indent:0.4953in; }
	.P7 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0in; margin-right:0in; text-indent:0.4953in; }
	.P8 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0in; margin-right:0in; text-indent:0.4953in; }
	.P9 { font-size:10.5pt; font-family:Arial; writing-mode:page; margin-left:0in; margin-right:0in; text-indent:0.4953in; }
	.T1 { vertical-align:super; font-size:58%;}
	.T4 { text-decoration:underline; }
	<!-- ODF styles with no properties representable as CSS -->
	.T2  { }
	</style></head><body dir="ltr" ><p class="P2"><span class="T2">SECOND</span> AMENDMENT TO DECLARATION OF </p><p class="P2">RESTRICTIVE COVENANTS <span class="T2">FOR</span></p><p class="P2">BRANDY MILL ESTATES SUBDIVISION</p><p class="P1"> </p><p class="P1"><span> THIS <span class="T2">SECOND</span> AMENDMENT TO DECLATIONS OF RESTRICTIVE COVENANTS FOR BRANDY MILL ESTATES SUBDIVISION (“<span class="T2">the Declaration</span>”) is executed this <span class="T2">11</span><span class="T1">th</span> day of <span class="T2">May</span>, 200<span class="T2">6</span>, by MARONDA HOMES, INC. OF OHIO, hereinafter referred to as “Declarant.”</span></p><p class="P1"> </p><p class="P3">RECITALS</p><p class="P1"> </p><p class="P5">A.     <span class="T2">Certain real property was submitted to the application of the Declarations, which real property is located in Licking County, State of Ohio, and more fully described as follows (“Section 1 Property”):</span></p><p class="P7"> </p><p class="P11">A certain 20.519 acre tract of real property located in Etna Township, Licking County, Ohio, inclusive of Brandy Mill Estates Subdivision Section1, as the same are delineated upon the recorded plat thereof, of record in Plat Book 17, Pages 184 and 185, Recorder's Office, Licking County, Ohio.</p><p class="P10"> </p><p class="P6">B.     The Declaration was filed on April 3, 2003, in Instrument Number 200304030014623 of the Official Records of Licking County, Ohio.</p><p class="P8"> </p><p class="P8">C.     The Declarant is the owner of the property located adjacent to the Section 1 Property and more fully described as follows (“Section 2 Property”):</p><p class="P8"> </p><p class="P11">A certain 37.373 acre tract of real property located in Etna Township, Licking County, Ohio, inclusive of Brandy Mill Subdivision Section 2, as the same are delineated upon the recorded plat thereof, of record on Instrument Number 20060308000683, Recorder's Office, Licking County, Ohio, filed on March 8, 2006.</p><p class="P8"> </p><p class="P8">D.     The Declaration provides that the Declarant may impose the same covenants as outlined in the Declaration to future phases of the development in the Brandy Mill subdivision, and the Declarant desires to so submit the Section 2 Property to the operation of the Declaration.</p><p class="P8"> </p><p class="P8">NOW, THEREFORE, the Declarant hereby declares that:</p><p class="P8"> </p><p class="P8">1.     All of the terms used herein which are defined in the Declaration shall be interpreted to have the same meaning as defined in the Declaration unless specifically hereinafter amended.</p><p class="P8"> </p><p class="P8">2.     The Declarant is the owner of the Section 2 Property, together with all easements, rights, and appurtenances belonging thereto, and hereby submits all such Section 2 Property to the provisions of the Declaration and such Section 2 Property is hereby included and made part of the Property.</p><p class="P8"> </p><p class="P9">3.     The Declaration is hereby amended in the following respects.</p><p class="P9"> </p><p class="P13">The legal description referred to in the Declaration, as amended, is hereby amended by adding thereto the Section 2 Property described in Paragraph C of the Recitals in this Amendment.</p><p class="P9"> </p><p class="P9">4.     Except as specifically hereinabove amended, all of the provisions of the Declaration shall be and hereby are declared to remain in full force and effect.</p><p class="P9"> </p><p class="P9">IN WITNESS WHEREOF, the undersigned has executed this Amendment effective this 11<span class="T1">th</span> day of May, 2006.</p><p class="P9"> </p><p class="P14">MARONDA HOMES, INC. OF OHIO,</p><p class="P15">an Ohio corporation</p><p class="P15"/><p class="P15"> </p><p class="P16">By  <span class="T4">        Signature of Mike Hoffmaster, President     </span></p><p class="P17">               Mike Hoffmaster, President</p><p class="P9"> </p><p class="P9"> </p><p class="P9">STATE OF OHIO, COUNTY OF FRANKLIN, ss:</p><p class="P9"> </p><p class="P9">     The foregoing instrument was acknowledged before me this 11<span class="T1">th</span> day of May, 2006, by Mike Hoffmaster, Vice President of Maronda Homes, Inc. of Ohio, an Ohio corporation, on behalf of the corporation.</p><p class="P9"> </p><p class="P18">        <span class="T4">              Signature of Kelly J Beatty                  </span></p><p class="P19">                                 Notary Public</p><p class="P19"> </p><p class="P19"> </p><p class="P19"> </p><p class="P4">Prepared By:</p><p class="P4">Sheila Deselich Cohen, Esq.</p><p class="P4">144 Charterhouse Court</p><p class="P4">Powel, Ohio 43065</p><p class="P4">(614) 431-3305</p></body></html>
    </div>
{% endblock %}