{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Neighborhood Maps{% endblock %}
{% block pageheader %}<h1>Homeowners</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Homeowners</a></li>
        <li class="breadcrumb-item active">Maps</li>
    </ol>
    <hr>
    <h2>Maps&nbsp;&nbsp;<small><small>INDEX</small></small></h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
    <h3>Google Earth View</h3>
    <hr>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2094.3700361467822!2d-82.64252475671923!3d39.96004527580086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1482874831538" width="100%" height="1000" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h3>Licking County Auditor Parcel Map</h3>
    <hr>
    <iframe
        width="100%"
        height="1000px"
        frameborder="0" style="border:0"
        src="
            http://apps.lcounty.com/maps/taxparcelviewer/default.htm?parcelId=17190000717184029000
            {# http://lcountygis.maps.arcgis.com/apps/webappviewer/index.html?id=9a220b5f653b4831b32ad38a9fb881d9 #}
            " 
            allowfullscreen
    >
    </iframe> 
{% endblock %}