{% extends 'AdminLTE_NoSidebar.html.twig' %}
{% block title %}Neighborhood Maps{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-map-marker">&nbsp;</span>Maps | <small><small>WHERE WE ARE</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    {# BREADCRUMB #}
    <section class="content-header"><!-- content header -->
        <!-- heading -->
        <h1>BME Maps</h1>
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Public</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span> 
        </h5>
        <!--/heading -->
        <ol class="breadcrumb"><!--breadcrumb -->
            <li class="breadcrumb-item"><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span>&nbsp; Homepage</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; Community </li>
            <li class="breadcrumb-item active">Maps</li>
        </ol><!--/breadcrumb -->
    </section><!--/content header -->

    <section class="content"><!-- main content (includes space for sidebar) -->
    {# CONTENTS #}
    <div class="box box-default"><!-- FULL ROW EXAMPLE -->
        <div class="box-header with-border">
            <h3 class="box-title">Google Earth View</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body"><!--.box-body start -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2094.3700361467822!2d-82.64252475671923!3d39.96004527580086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1482874831538" width="100%" height="1000" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!-- /.box-body end-->
    </div><!--/ FULL ROW EXAMPLE -->
    
    <div class="box box-default"><!-- FULL ROW EXAMPLE -->
        <div class="box-header with-border">
            <h3 class="box-title">Licking County Auditor Parcel Map</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body"><!--.box-body start -->
            <iframe width="100%"height="1000px"frameborder="0" style="border:0"src="http://apps.lcounty.com/maps/taxparcelviewer/default.htm?parcelId=17190000717184029000" allowfullscreen></iframe> 
        </div><!-- /.box-body end-->
    </div><!--/ FULL ROW EXAMPLE -->
    
{% endblock %}