<p class="text-center">BME HOA is Managed by: SBS Management Group - <a href="{{ path('newContactPublic') }}">Contact Us</a></p>
<p class="text-center">Shopping for HOA software?  Software subscriptions & customization available.  Full service HOA managament also available.  See options and pricing <a href="#">here</a>.