{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Contact Us{% endblock %}
{% block pageheader %}<h1>Official Business</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Official Business</a></li>
        <li class="breadcrumb-item active">Contact Us</li>
    </ol>
    <hr>
    <h2>Contact Us&nbsp;&nbsp;<small><small>NEW</small></small></h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}    

{% endblock %}