{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Website Notes{% endblock %}
{% block pageheader %}<h1>NOTES</h1><p>For THIS Website</p>{% endblock %}
{% block content %}

    <iframe 
        width="100%"
        height="1000"
        frameborder="0" style="border:0; margin-bottom: 50px;"
        src="https://docs.google.com/document/d/1_ktDulDrqZUoOgYutNWkSCNpwZKCF0t0gkbe75t_WQ8/edit?usp=sharing"
        allowfullscreen
    >
    </iframe>
    
{% endblock %}