<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Security Level Definitions:</h4>
        </div>
        <div class="modal-body">
          <p>Public: viewable to the general public ~ no security</p>
          <p>Protected: viewable to logged-in users who are assigned a homeowner role ~ limited security</p>
          <p>Private: viewable ONLY to the user ~ high security</p>
          <p>Admin: viewable ONLY to administrative users ~ strict security</p>
          <p>An open eye <span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> indicated this user class CAN view</p>
          <p>A closed eye <span class="glyphicon glyphicon-eye-close" style="padding:0 5px;"></span> indicated this user class can NOT view</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
